<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TableON DID</title>
    <!-- Axios -->
    <script src="/static/js/axios/dist/axios.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/DID copy.css">
</head>

<body>
    <div class="main-container">
        <!-- [픽업 영역 1] 주문번호 (위쪽) -->
        <div class="pickup-num-container">
            <!-- Slot 1 -->
            <div class="num-slot">
                <div class="pickup-num" id="num-1"></div>
            </div>
            <!-- Slot 2 -->
            <div class="num-slot">
                <div class="pickup-num" id="num-2"></div>
            </div>
            <!-- Slot 3 -->
            <div class="num-slot">
                <div class="pickup-num" id="num-3"></div>
            </div>
            <!-- Slot 4 -->
            <div class="num-slot">
                <div class="pickup-num" id="num-4"></div>
            </div>
        </div>

        <!-- [픽업 영역 2] 메뉴이름 (아래쪽) -->
        <div class="pickup-menu-container">
            <!-- Slot 1 -->
            <div class="menu-slot" id="menu-slot-1">
                <div class="pickup-menu" id="menu-1"></div>
            </div>
            <!-- Slot 2 -->
            <div class="menu-slot" id="menu-slot-2">
                <div class="pickup-menu" id="menu-2"></div>
            </div>
            <!-- Slot 3 -->
            <div class="menu-slot" id="menu-slot-3">
                <div class="pickup-menu" id="menu-3"></div>
            </div>
            <!-- Slot 4 -->
            <div class="menu-slot" id="menu-slot-3">
                <div class="pickup-menu" id="menu-4"></div>
            </div>
        </div>

        <!-- 대기 번호 영역 -->

    </div>

    <!-- JS -->
    <script src="/static/js/DID.js"></script>
</body>

</html>