<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/DID.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/axios/dist/axios.js"></script>
    <script src="/static/js/socket.io-client/dist/socket.io.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/static/js/DID.js"></script>
</head>

<body>
    <audio id="bgm-player"></audio>
    <img class="background-img" src="/static/img/backgroundIMG.png" />
    <div class="row">
        <div class="col-7" style="width: 62.5%;">
            <div style="height: 37vh;"></div>
            <div class="order-menu">
                <div class="menu-box_1">
                    <p id="pick-up_1"></p>
                </div>
                <div class="menu-box_2">
                    <p id="pick-up_2"></p>
                </div>
                <div class="menu-box_3">
                    <p id="pick-up_3"></p>
                </div>
                <div class="menu-box_4">
                    <p id="pick-up_4"></p>
                </div>
            </div>
            <!-- <div style="height: 10vh;"></div> -->
            <div class="order-code">
                <div class="code-box_1">
                    <p id="order_code_1"></p>
                </div>
                <div class="code-box_2">
                    <p id="order_code_2"></p>
                </div>
                <div class="code-box_3">
                    <p id="order_code_3"></p>
                </div>
                <div class="code-box_4">
                    <p id="order_code_4"></p>
                </div>
            </div>
            <div style="height: 100%;"></div>
        </div>
    </div>
</body>

</html>