@font-face {
    font-family: 'GmarketSans';
    src: url(/static/font/GmarketSansTTFBold.ttf) format('woff');
 
}
@font-face {
    font-family: 'Nato Sans KR';
    src: url(/static/font/NotoSansKR-Regular.ttf) format('woff');
}
@font-face {
    font-family: 'Nato Sans KR Bold';
    src: url(/static/font/NotoSansKR-Bold.ttf) format('woff');
}
@font-face {
    font-family: 'Nato Sans KR semi Bold';
    src: url(/static/font/NotoSansKR-SemiBold.ttf) format('woff');
}


/* 1. 諛곌꼍 ?대?吏 苑?李④쾶, 鍮꾩쑉 臾댁떆?섍퀬 ?щ갚 ?놁씠 */
.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;   /* ?뮕 鍮꾩쑉 臾댁떆?섍퀬 ?붾㈃ 梨꾩? */
  z-index: -1;
}

body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* 2. 二쇰Ц踰덊샇 諛뺤뒪 (?쀬쨪) */
.order-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  top: 38%; /* 예: top: 15%; (현재 위치가 괜찮다면 그대로 유지) */
  left: 51%;  /* order-menu와 동일하게 */
  transform: translateX(-50%);  /* 중앙 정렬 */
  width: 83vw;  /* order-menu와 동일한 너비 */
  letter-spacing: -0.04em; 
  gap: 5vw;
  z-index: 2;
}

.code-box_1, .code-box_2, .code-box_3, .code-box_4 {
  flex: 1;
  text-align: center;
}

.order-code p {
  font-size: 3.8vh;
  font-weight: bold;
  color: white;
  margin: 0;
}



/* 3. 硫붾돱紐?諛뺤뒪 (?꾨옯以? ???꾨줈 ?밴꺼 ??諛뺤뒪泥섎읆 蹂댁씠寃?*/
.order-code {
  position: absolute;
  top: 28.5%;
  left: 51%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 85vw;
  gap: 2vw;
  z-index: 1;
}

.menu-box_1, .menu-box_2, .menu-box_3, .menu-box_4 {
  flex: 1;
  text-align: center;
}

.order-menu p {
  font-size: 1.8vh;
  font-weight: 600;
  color: white;
  margin: 0.5vh 0 0 0;
  white-space: pre-line; 
}

.row {
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5vh;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 4vh;
}

.subtitle {
  font-size: 1.5vh;
  opacity: 0.7;
  display: block;
}


.video-container {
    position: relative; 
}

.video {
    position: absolute;
    width: 36.2%;
    z-index: -1;
    right: 0;   
    bottom: 0;
}
